body {
  font-family: 'Outfit', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  background-size: 200% 200%;
  background-image: radial-gradient(#F78BFD, #AFE9FF, #BF4482);
  animation: gradient 20s ease infinite;
  cursor: url('images/cursor.png'), auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a,
button {
  cursor: url('images/cursor_hover.png'), pointer;
}

h2 {
  font-size: 3.1em;
  margin-bottom: 20px;
}

nav ul li a {
  display: inline-block;
  width: 120px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Added this line */
  width: 100%; /* Added this line */
}

nav a {
  margin-left: 1px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  position: relative;
  background: transparent;
  overflow: hidden;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
  color: #fff;
  text-decoration: none;

}

nav a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(255, 16, 95, 0.7), rgba(191, 64, 191, 0.7));
  z-index: -1;
  border-radius: 5px;
  transition: opacity 0.8s ease;
  opacity: 0;
}

nav a:hover:before {
  opacity: 1;
}

#connect-wallet {
  border: none;
  border-radius: 5px;
  background: linear-gradient(270deg, #FF105F 0%, #B021B0 100%);
  background-size: 200% 200%;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  cursor: url('images/cursor_hover.png'), pointer;
  outline: none;
  transition: background-position 0.5s ease;
  white-space: nowrap; /* Prevents the text inside the button from wrapping */
}

#connect-wallet:hover {
  background-position: right bottom;
  color: #fff;
}

#connect-wallet:active {
  transform: scale(0.95);
}


#hero-text {
  max-width: 60%;
}

#hero h1 {
  font-size: 4.1em;
  margin-bottom: 20px;
}

#hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#hero-image {
  max-width: 100%;
  height: auto;
}

.gradient-button {
  padding: 10px 20px;
  font-size: 1.2em;
 color: white;
  border: none;
  cursor: url('images/cursor_hover.png'), pointer;
  background-size: 200% auto;
  border-radius: 5px;
  transition: 0.5s;
  background-image: linear-gradient(to right, #F78BFD, #ffad06);
  box-shadow: 0px 4px 15px -5px #F78BFD;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.gradient-button:hover {
  background-position: right center;
  cursor: url('images/cursor_hover.png'), pointer;

}

.gradient-button:active {
  transform: scale(0.95);
}

.gradient-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .1);
  z-index: -1;
  transition: all .5s;
  transform: scale(0);
  pointer-events: none;
}

.gradient-button:hover:before {
  transform: scale(2);
}

.art-images {
  display: inline-block;
  animation: 80s slide infinite linear;
}

#logo {
  height: 40px;
}

.art-images img {
  height: 150px;
  margin: 0 0;
}

.arts {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.art-images {
  display: flex;
  white-space: nowrap;
  animation: slide 80s linear infinite;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.arts:before,
.arts:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

#about {
  padding: 0px 0px 60px 0px;
}

#about-text {
  max-width: 60%;
}

#about h2 {
  font-size: 3.1em;
  margin-bottom: 20px;
}

#about p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  max-width: 100%; /* Adjust as necessary */
  text-align: justify;
}

#about-image {
  max-width: 100%;
  height: auto;
}

#roadmap {
  padding: 0px 0px 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#roadmap h2 {
  font-size: 3.1em;
  margin-bottom: 20px;
}

#roadmap p {
  font-size: 1.2rem;
  max-width: 60%; /* Adjust as necessary */
  text-align: justify;
}

.zoom-container {
  position: relative;
  width: 60%;
}

.zoom-img {
  display: block;
  width: 100%;
  height: auto;
  cursor: none;
}

.magnifying-glass {
  display: none;
  position: absolute;
  border: 2px solid #F78BFD;
  border-radius: 50%;
  cursor: none;
  width: 150px;
  height: 150px;
  overflow: hidden;
  z-index: 100;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#community {
  padding: 0px 0px 60px 0px;
}

#community-text {
  max-width: 60%;
}

#community p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  max-width: 100%; /* Adjust as necessary */
  text-align: justify;
}

#community-image {
  max-width: 100%;
  height: auto;
}

#team {
  margin-bottom: 40px;
}

.team-member {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
  background: radial-gradient(circle, #ECAF65, #E08FB9, #CE5FC7);
  background-size: 200% 200%;
  animation: teamGradient 10s ease infinite;
}

@keyframes teamGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.team-member-photo-container {
  position: relative;
  margin-top: -30px; /* Adjust as needed */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -20px;
  left: calc(50% - 50px);
}

.team-member-photo {
  border-radius: 50%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.text-center {
  margin-bottom: 75px;
}

.team-member h3 {
  z-index: 2;
  position: relative;
  margin-top: 40px;
  margin-bottom: 0px;
}

#faq {
  padding: 20px;
  margin-bottom: 20px;
}

.faq-item {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background: radial-gradient(circle, #BF4482, #ECBAA1);
  background-size: 200% 200%;
  animation: faqGradient 25s ease infinite;
}

@keyframes faqGradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.faq-question {
  font-weight: bold;
  margin-bottom: 10px;
}

#cta {
  padding: 60px 0;
}

#cta h2 {
  font-size: 3.1em;
  font-weight: bold;
  margin-bottom: 20px;
}

.highlight {
  color: #AB4684; /* Change this to the color you want */
}

footer {
  padding: 20px 0;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: none;
}

footer h4 {
  margin-bottom: 15px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer .form-control {
  margin-bottom: 10px;
}

.btn-primary {
  background: linear-gradient(270deg, #FF105F 0%, #B021B0 100%);
  background-size: 200% 200%;
  color: #fff;
  border: none;
  transition: background-position 0.5s ease;
}

.btn-primary:hover {
  background-position: right bottom;
  color: #fff;
  cursor: url('images/cursor_hover.png'), pointer;
}

.btn-primary:active {
  transform: scale(0.95);
}

